<div class="container">
    <header id="main-header">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-5">
                <img src="https://scontent.flko3-1.fna.fbcdn.net/v/t1.0-9/15823555_1283088251756119_3414168754071378852_n.jpg?_nc_cat=107&_nc_oc=AQl5UhA0VLQ-46_2LwOiG49UpCvfcsx5XATVRuAKaESAdt5OU88PbXJcfc04fvNh168&_nc_ht=scontent.flko3-1.fna&oh=0f0d377ae4d27ae71274630226fb6ada&oe=5D8227DE" alt="ashutosh">
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="d-flex flex-column">
                    <div class="p-5 bg-dark text-white">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <h2 class="display-4">Ashutosh Chauhan</h2>
                            <div class="d-none d-md-block">
                                <a href="http://twitter.com" class="tw-ic mr-3">
                                    <i class="material-icons" style="transform: scale(2)">school</i>
                                </a>
                            </div>
                            <div>
                                <a href="http://twitter.com" class="tw-ic mr-3">
                                    <i class="material-icons" style="transform: scale(2)">school</i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 bg-black">
                        <h5>Software Engineer</h5>
                    </div>
                    <div>
                        <div class="d-flex flex-row text-white align-items-stretch text-center">
                            <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#home">
                                <i class="material-icons" style="transform: scale(2)">home</i>
                                <span class="d-none d-sm-block">Home</span>
                            </div>
                            <div class="port-item p-4 bg-success" data-toggle="collapse" data-target="#resume">
                                <i class="material-icons" style="transform: scale(2)">school</i>
                                <span class="d-none d-sm-block">Resume</span>
                            </div>
                            <div class="port-item p-4 bg-warning" data-toggle="collapse" data-target="#work">
                                <i class="material-icons" style="transform: scale(2)">school</i>
                                <span class="d-none d-sm-block">Work</span>
                            </div>
                            <div class="port-item p-4 bg-danger" data-toggle="collapse" data-target="#contact">
                                <i class="material-icons" style="transform: scale(2)">phone</i>
                                <span class="d-none d-sm-block">Contact</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>